<ng-container *ngIf="follows$ | async as follows; else loading">
    <ng-container *ngIf="follows.followed; else notFollowed">
        <button mat-raised-button
                (click)="onUnfollowClick()"
                color="accent">
                FOLLOWED
                {{follows.count}}
        </button>
    </ng-container>
    <ng-template #notFollowed>
        <button mat-stroked-button
            (click)="onFollowClick()"
            color="primary">
            FOLLOW
            {{follows.count}}
        </button>
    </ng-template>
</ng-container>
<ng-template #loading>
    Loading follows
</ng-template>
