<mat-toolbar>
    <button mat-button class="logo" 
            color="primary"
            routerLink="/">
        Forum
    </button>
    <span class="spacer"></span>
    <button mat-button class="nav-link" 
            color="link"
            routerLink="/">
        Home
    </button>

    <ng-container *ngIf="isNotAuthenticated$ | async; else loggedInUser">
        <button mat-button class="nav-link" 
                color="link"
                routerLink="/auth/login">
            Sign in
        </button>
        <button mat-button class="nav-link" 
                color="link"
                routerLink="/auth/register">
            Sign up
        </button>
    </ng-container>

</mat-toolbar>

<ng-template #loggedInUser>
    <button mat-button 
        [matMenuTriggerFor]="menu">
        {{(authenticatedUser$ | async)?.name}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="nav-link"
                routerLink="/creator">
            Create post
        </button>
        <button mat-menu-item class="nav-link"
                [routerLink]="['/users/', (authenticatedUser$ | async)?.id]">
            My Posts
        </button>
        <button mat-menu-item class="nav-link"
            [routerLink]="['/users/', (authenticatedUser$ | async)?.id, 'comments']">
            My comments
        </button>
        <button mat-menu-item class="nav-link"
            [routerLink]="['/users/', (authenticatedUser$ | async)?.id, 'follows']">
            My follows ({{(newActivity$ | async) || 0}})
        </button>
        <button mat-menu-item class="nav-link"
                routerLink="/auth/login"
                (click)="onSignOutClick()">
            Sign out
        </button>
    </mat-menu>
</ng-template>
