<app-auth 
    name="Sign up"
    linkName="Already have an account?"
    linkTo="/login"
    (onSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
                placeholder="example@gmail.com" 
                [formControl]="email" 
                required>
        <mat-error *ngIf="email.errors">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
                placeholder="example@gmail.com" 
                [formControl]="name" 
                required>
        <mat-error *ngIf="name.errors">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
                [formControl]="password" 
                type="password"
                (change)="onPasswordsChange()"
                required>
        <mat-error *ngIf="password.errors">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput
                [formControl]="confirmPassword"
                type="password"
                (change)="onPasswordsChange()"
                required>
        <mat-error *ngIf="confirmPassword.errors?.['required']">You must enter a confirmation password</mat-error>
        <mat-error *ngIf="confirmPassword.errors?.['notMatching']">Passwords are not matching</mat-error>
    </mat-form-field>

</app-auth>
