<div class="posts">

    <div class="searchbar">
        <mat-form-field class="search-form" appearance="outline">
            <mat-label>Search posts</mat-label>
            <input matInput type="text" 
                    (keyup.enter)="onSearch()"
                    [(ngModel)]="params.query">
            <button mat-icon-button
                    matSuffix
                    (click)="onSearch()"
                    color="primary"
                    class="search-btn">
                <mat-icon color="primary">search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <h1 class="title">
        {{title}}
        <button mat-icon-button
            *ngIf="title != DEFAULT_TITLE"
            class="cancel-btn"
            (click)="onCancelClick()">
            <mat-icon color="warn">cancel</mat-icon>
        </button>
    </h1>
    <app-post-list [posts]="posts$"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScrolled()"
    ></app-post-list>
    <div class="finnished-message" *ngIf="finnished; else nextPage">The end. Comeback later for more posts.</div>
    <ng-template #nextPage><mat-spinner color="primary"></mat-spinner></ng-template>
</div>
<home-tags (onTagSelect)="onTagSelect($event)"></home-tags>
