<div class="banner">
    <div class="container">
        <h1 class="logo-font">Simple forum</h1>
        <p>Share your thoughts and expirience.</p>
    </div>
</div>

<div class="container page">
    <div>

        <div>
            <div>
                <ul>
                   <li>
                        <a class="nav-link">
                            Your Feed
                        </a>
                   </li> 
                   <li>
                        <a class="nav-link">
                            Global Feed
                        </a>
                   </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="sidebar">
                <p>Popular Tags</p>
            </div>
        </div>

    </div>
</div>
