<div class="posts">

    <div class="searchbar">
        <mat-form-field class="search-form" appearance="outline">
            <mat-label>Search posts</mat-label>
            <input matInput type="text" 
                    (keyup.enter)="searchPosts()"
                    [(ngModel)]="params.query">
            <button mat-icon-button
                    matSuffix
                    (click)="searchPosts()"
                    color="primary"
                    class="search-btn">
                <mat-icon color="primary">search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <h1 class="title">
        {{title}}
        <button mat-icon-button
            *ngIf="title != DEFAULT_TITLE"
            class="cancel-btn"
            (click)="onCancelClick()">
            <mat-icon color="warn">cancel</mat-icon>
        </button>
    </h1>
    <div class="content" *ngIf="posts$ | async as posts; else loadingPosts">
        <mat-card class="post" *ngFor="let post of posts">
            <mat-card-content>
                <button mat-stroked-button 
                        color="primary"
                        class="tag" 
                        disableRipple="true"
                        *ngFor="let tag of post.tags">
                    #{{tag.name}}
                </button>
            </mat-card-content>
            <mat-card-title>{{post.title | titlecase}}</mat-card-title>
            <mat-card-subtitle class="subtitle">
                <app-button-username [userID]="post.userID"></app-button-username>
                <p>{{post.lastModificationAt | date:'hh:mm a MMM d, y'}}</p>
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{post.content}}</p>
            </mat-card-content>
            <mat-card-actions class="actions">
                <app-button-follow [postID]="post.id"></app-button-follow>
                
                <button mat-icon-button
                        color="primary">
                    <mat-icon> comment</mat-icon>
                    {{post.commentsCount}}
                </button>
                <button mat-icon-button
                        color="primary">
                    <mat-icon>thumb_up</mat-icon>
                    {{0}}
                </button>
                <button mat-icon-button
                        color="primary">
                    <mat-icon>thumb_down</mat-icon>
                    {{0}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
<home-tags (onTagSelect)="searchByTag($event)"></home-tags>

<ng-template #loadingPosts>Loading posts</ng-template>