@import "~src/app/shared/styles/variables"

:host
    display: flex
    padding: 5vh 10vw
    justify-content: center

    .posts
        width: 40vw
        min-width: fit-content
        padding: 0 2vw 2vh 2vw

        .searchbar
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 4vh

        .content

            .post
                margin: 10px 0

                .subtitle
                    display: flex
                    justify-content: space-between                  

                .tag
                    padding: 5px 5px
                    line-height: 1em
                    min-width: auto
                    border-radius: 30%


@media (max-width: $layout-max-breakpoint-sm)
    :host
        padding: 5vh 5vw


@media (max-width: $layout-max-breakpoint-xs)
    :host
        padding: 2vh 2vw
        flex-direction: column-reverse

        .posts
            width: auto

            .actions
                button
                    padding: 0 7px
                    min-width: auto

@media (max-width: $layout-max-breakpoint-xxs)
           
    .actions
        button
            transform: scale(0.9)
            margin: 0 
