:host
    display: flex
    padding: 5vh 20vw
    justify-content: center

    .posts
        padding: 2vh 10vw
        border: 1px solid black

        .content
            border: 1px solid red
    
    .tags
        margin: 0 2vw
        border: 1px solid black