<mat-card class="comment">
    <mat-card-subtitle class="subtitle">
        <app-button-username [userID]="comment.userID"></app-button-username>
        <p>{{comment.lastModificationAt | date:'hh:mm a MMM d, y'}}</p>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{comment.content}}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-stroked-button
                (click)="onAnswerClick()"
                class="action"
                color="primary">
            Answer
        </button>
        <button mat-icon-button
                class="action"
                color="primary">
            <mat-icon>comment</mat-icon>
            {{comment | countChildren}}
        </button>
    </mat-card-actions>
</mat-card>
<app-comment-form *ngIf="showForm" 
    [postID]="comment.postID" 
    [parent]="comment"
    (onSuccess)="addComment($event)">
</app-comment-form>
