@import "~src/app/shared/styles/variables"

:host
    background-color: hsla(0, 0%, 0%, 0.1)
    margin-left: 2vw
    height: fit-content
    padding: .6em
    border-radius: 10%

@media (max-width: $layout-max-breakpoint-xs)
    :host
        margin: 2vh 0