:host
    padding: 0 20vw
    display: flex
    flex-direction: column

    .profile
        text-align: center
        padding: 7vh 0 2vh 0
        background-color: hsla(0, 0%, 0%, .02)
    
    .mat-button-toggle-group
        width: fit-content

