<div class="profile" *ngIf="user$ | async as user">
    <p>{{user.name}}</p>
</div>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="user$ | async as user">
    <mat-button-toggle routerLinkActive=""
        #postsLink="routerLinkActive"
        [checked]="postsLink.isActive"
        [routerLink]="['/users', user.id]">
        Posts
    </mat-button-toggle>
    <mat-button-toggle routerLinkActive=""
        #commentsLink="routerLinkActive"
        [checked]="commentsLink.isActive"
        [routerLink]="['/users', user.id, 'comments']">
        Comments
    </mat-button-toggle>
    <mat-button-toggle routerLinkActive=""
        #followsLink="routerLinkActive"
        [checked]="followsLink.isActive"
        [routerLink]="['/users', user.id, 'follows']">
        Follows 
        <ng-container *ngIf="isOwner$ | async">({{newActivity$ | async}})</ng-container>
    </mat-button-toggle>
</mat-button-toggle-group>

<router-outlet></router-outlet>