.post
    margin: 10px 0

    .mat-card-title
        cursor: pointer
        display: flex
        justify-content: space-between

    .subtitle
        display: flex
        justify-content: space-between                  

    .tag
        padding: 5px 5px
        line-height: 1em
        min-width: auto
        border-radius: 30%

    .actions
        .action
            margin: 0 max(2px, .8vw)