<mat-card class="post">
    <mat-card-content class="header">
        <div class="tags">
            <button mat-stroked-button 
                color="primary"
                class="tag" 
                disableRipple="true"
                *ngFor="let tag of post.tags">
                #{{tag.name}}
            </button>
        </div>
        <button 
            *ngIf="canEdit$ | async"
            mat-icon-button
            [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit</button>
            <button 
                mat-menu-item 
                (click)="onPostDelete()">
                Delete
            </button>
        </mat-menu>
    </mat-card-content>
    <mat-card-title routerLink="/posts/{{post.id}}">
        <h1>{{post.title | titlecase}}</h1>
        <h1 class="activity" *ngIf="post.newActivity">({{post.newActivity}})</h1>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <app-button-username [userID]="post.userID"></app-button-username>
        <div class="date">
            <p>{{post.lastModificationAt | date:'hh:mm a MMM d, y'}}</p>
            <p *ngIf="post.lastModificationAt != post.createdAt">edited</p>
        </div>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{post.content}}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <app-button-follow class="action" [postID]="post.id"></app-button-follow>
        <button mat-icon-button
                routerLink="/posts/{{post.id}}"
                class="action"
                color="primary">
            <mat-icon> comment</mat-icon>
            {{post.commentsCount}}
        </button>
        <app-button-vote class="action" [postID]="post.id" [type]="VOTE_UP"></app-button-vote>
        <app-button-vote class="action" [postID]="post.id" [type]="VOTE_DOWN"></app-button-vote>

    </mat-card-actions>
</mat-card>