<app-auth 
    name="Sign in"
    linkName="Need an account?"
    linkTo="/register"
    (onSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@gmail.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" required type="password">
        <mat-error *ngIf="email.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

</app-auth>